<%= render partial: 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row" style="background-color: #ff6060;padding: 20px 0 20px 0;color: #ffffff">
    <div class="container">
      <div class="row">
        <div class="col-xs-9" style="padding-top: 10px">
          <h2><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i>&emsp; ค้นหา</h2>
        </div>
        <!--<div class="col-xs-3 text-xs-right">-->
          <!--<img class="img-circle" style="padding:5px;height: 80px;background-color: #ffffff" src="<%= asset_path 'icon4.png' %>">-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="row" style="background-color: #c3c3c3;padding: 10px">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-3" style="padding: 0">
          <input type="text" class="form-control" id="search" placeholder="ค้นหาธุรกิจที่คุณต้องการ">
        </div>
        <!--TODO : responsive mobile-->
        <div class="col-xs-12 col-md-6 col-lg-2" style="padding: 0">
          <select class="selectpicker form-control" title="ประเภท">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2" style="padding: 0">
          <select class="selectpicker form-control" title="หมวด">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2" style="padding: 0">
          <select class="selectpicker form-control" title="ประเทศ">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2" style="padding: 0">
          <select class="selectpicker form-control" title="เงินลงทุน">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
        <div class="col-xs-12 col-lg-1" style="padding: 0">
          <button class="btn btn-primary btn-block">ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 10px">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-lg-3">
          <select class="selectpicker form-control" title="เปลี่ยนหมวด">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
        <div class="col-xs-6 col-lg-3">
          <select class="selectpicker form-control" title="จัดเรียงตาม">
            <option>ประเภท1</option>
            <option>ประเภท2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 10px">
    <div class="container">
      <div class="row">
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/hero01.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">แฟรนไชส์ฮีโร่</span> FranchiseHero</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : เครื่องดื่มแฟรนไชส์</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">0 - 1,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">0 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">แฟรนไชส์</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ธุรกิจ</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/Starluck.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">สตาร์ลัค</span> Starluck</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : กาแฟ</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">100,000 - 5,000,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">100,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">กาแฟดี</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">มีคุณภาพ</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/Ochay.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">โอเช</span> Ochay</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : ชานมไข่มุก</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">300,000 - 1,000,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">300,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ชาอันดับหนึ่ง</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ดี</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/Coffeword.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">คอฟฟี่ เวิด</span> Coffee Word</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : กาแฟ</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">500,000 - 4,000,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">500,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ทุกวัย</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">กาแฟดำ</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/inthanicoffee.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">อินทนิคอฟฟี่</span> Inthaini Coffee</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : กาแฟ</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">900,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">60,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">กาแฟเข้ม</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ทุกวัน</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/Sweetmiks.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">สวีตมิลส์</span> Sweet Milks</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : นมสดและแซนวิส</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">15,000 - 39,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">15,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ขายนม</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ขายแซนวิส</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/Mochii.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">โมจิ ชานมไข่มุก</span> Mochii</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : ชานมไข่มุก</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">55,000 - 89,900 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">55,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">อร่อย</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ถูกใจ</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/beehoney.jpg' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">บีฮันนี่</span> Bee Honey</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : เครื่องดื่มน้ำผึ้งมะนาว</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">9,900 - 29,900 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">9,900 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">สบายคอ</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">หวาน</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
        <!-- start card -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
              <div style="text-align: center;overflow: hidden;">
                <img style="height: 4.375rem;width: auto" src="<%= asset_path 'store/i-chatea.png' %>">
              </div>
              <hr>
              <p class="card-title text-truncate"><span style="color:#ff6060">ชาไข่มุก ไอฉา</span> i-cha tea</p>
              <p class="card-text text-truncate">ประเภท : แฟรนไชส์</p>
              <p class="card-text text-truncate">หมวด : เครื่องดื่ม</p>
              <p class="card-text text-truncate">ลักษณะธุรกิจ : ชานมไข่มุก</p>
              <p class="card-text text-truncate">เงินลงทุน : <span style="color:#ff6060">39,000 - 79,000 บาท</span></p>
              <p class="card-text text-truncate">ค่าเฟรนไชส์ : <span style="color:#ff6060">39,000 บาท</span></p>
              <!--<p class="card-text text-truncate" style="padding-top: 10px">Tags :-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ชุ่มคอ</button></a>-->
                <!--<a href="#"><button type="button" class="btn btn-primary btn-sm">ไม่ง่วง</button></a>-->
              <!--</p>-->
            </div>
            </a>
            <hr style="margin: 0px">
            <div class="card-block text-xs-center" style="padding-top: 0;padding-bottom: 0;font-size: 0.875em">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon15.png' %>"> ส่งข้อความ</a>
              <hr class="hidden-xl-up" style="margin: 0">
              <a href="#" class="card-link"><img class="icon-image-small" src="<%= asset_path 'icon13.png' %>"> เพิ่มรายการโปรด</a>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
      <div class="row text-xs-center" style="padding: 10px 10px 50px 10px">
        <nav>
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>


