<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 interview-left-container">
      <div class="img-container">
        <img src="<%= asset_path 'logo1.png' %>">
      </div>
      <div class="img-container">
        <img src="<%= asset_path 'logo2.png' %>">
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 interview-right-container">
      <div class="col-sm-12 text-center hidden-xs-down">
        <h1>COMING SOON ...</h1>
      </div>
      <div class="col-sm-12 text-center hidden-xs-down">
        <h5>แหล่งโปรโมทแฟรนไชส์ที่แสนง่ายของคุณ</h5>
      </div>
      <div class="col-sm-12 content hidden-xs-down">
        <div class="col-xs-12 col-sm-3 no-padding">
          <div class="col-xs-4 number text-right">
            1
          </div>
          <div class="col-xs-8 each-content">
            <h2>สมัคร</h2>
            <h6 class="thin">รวดเร็ว</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
          <div class="col-xs-3 number text-right">
            2
          </div>
          <div class="col-xs-9 each-content">
            <h2>ลงประกาศ</h2>
            <h6 class="thin">มีประสิทธิภาพ</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 no-padding">
          <div class="col-xs-4 number text-right">
            3
          </div>
          <div class="col-xs-8 each-content">
            <h2>ได้รับ</h2>
            <h6 class="thin">คนที่ใช่</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center" style="margin: 1rem 0 1rem 0">
        <h5>สนใจโปรโมทแฟรนไชส์กับเราติดต่อ</h5>
      </div>
      <div class="col-sm-12">
        <%= form_for @interview, url: {action: 'create'} do |f| %>
            <fieldset class="form-group">
              <%= f.label :franchise_name, "ชื่อแฟรนไชส์" %>
              <%= f.text_field :franchise_name, class: 'form-control', placeholder: 'กรุณากรอกชื่อแฟรนไชส์...' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label :name, "ชื่อผู้ติดต่อ" %>
              <%= f.text_field :name, class: 'form-control', placeholder: 'กรุณากรอกชื่อผู้ติดต่อ...' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label :tel, "เบอร์ติดต่อ" %>
              <%= f.telephone_field :tel, class: 'form-control', placeholder: 'กรุณากรอกเบอร์โทรศัพท์...' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'กรุณากรอกอีเมลล์...' %>
            </fieldset>
            <%= f.submit "ส่งข้อมูล", class: 'btn btn-danger pull-xs-right' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 50px">
    <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 12.5rem;">
      <iframe id="video" class="embed-responsive-item" src="//www.youtube.com/embed/fJ_tOk8I7NU?&showinfo=0" allowfullscreen></iframe>
    </div>
  </div>
</div>
