<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="FranchiseHero ศูนย์รวมธุรกิจแฟรนไชส์และตัวแทนจำหน่าย ไม่ว่าคุณกำลังมองหาธุรกิจที่น่าสนใจในไทยหรือต่างประเทศ ที่นี่มีคำตอบ ใช้บริการฟรี!!วันนี้ ทั้งเจ้าของกิจการและผู้มองหาธุรกิจ">
<meta name="keywords" content="แฟรนไชส์,แฟรนไชส์ไทย,แฟรนไชส์ฮีโร่,ธุรกิจแฟรนไชส์,ธุรกิจ,เฟรนชาย,ราคาถูก,น่าสนใจ,ขายดี,ลงทุนน้อย,ใหม่ๆ,เครื่องดื่ม,ตัวแทนจำหน่าย,อาหาร,กาแฟ,ชาไข่มุก,อะไรบ้าง,สเต็ก,ขายดี,sme,น่าลงทุน,ไทย,ต่างประเทศ,อาชีพเสริม,ธุรกิจส่วนตัว,ธุรกิจเครือข่าย,สมัครงาน,อะไรดี">
<head>
  <title>FranchiseHero - ศูนย์รวมธุรกิจแฟรนไชส์และตัวแทนจำหน่าย</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/flash_message' %>
  <%= yield %>
</body>
</html>
